<!DOCTYPE html>
<html>
  <head>
    <title>Kadai2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul>
          <li class="left"><a href="/">TOP</a></li>
          <li class="left"><a href="/blogs">blog一覧</a></li>
          <li class="left"><a href="/blogs/new">新規作成</a></li>
        <% if logged_in? %>
          <li class="right"><%= link_to "Logout", session_path(current_user.id), method: :delete %></li>
          <li class="right"><%= link_to "Profile", user_path(current_user.id) %></li>
        <% else %>
          <li class="right"><%= link_to "Login", new_session_path %></li>
          <li class="right"><%= link_to "Sign up", new_user_path %></li>
        <% end %>
      </ul>
    </header>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <%= yield %>
    <footer>
      <p>まはる</p>
    </footer>
  </body>
</html>
